@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #697346;
    color: #1b2531;
    }

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

#seeds {
  padding: 40px 10px;
}

.goodseeds-seeds-title {
  color: #3B401B;
  font-size: 24px;
  margin-bottom: 20px;
}

