header {
    background: #697346;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goodseeds-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goodseeds-logo-container img {
    width: 235px;
}

.goodseeds-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
    color: #F28322;
}

.goodseeds-logo-container p {
    font-size: 14px;
    font-weight: 300;
}